// File: src/themes/index.scss
@use './tokens/foundation.scss';
@use './light.scss';
@use './dark.scss';
@use './custom.scss';
@use './base.scss';
@use './tooltip.scss';

// widget
.widget {
  background-color: var(--color-bg-surface);
  color: var(--color-text-secondary);
}
.widget-title {
  color: var(--color-text-primary);
}
